<header>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-info"> -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8d7fbd;">
        <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if session.logged_in %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <a class="navbar-brand" href="{{ url_for('create_post') }}">Meus Posts</a>
    </nav>
</header>